{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="red">
          <div class="page-header-image" data-parallax="true" style="background-image:url('../static/assets/img/header.jpg');">
          </div>
          <div class="col-md-6 ml-auto col-md-7 mr-auto">
          <div class="card">
            <div class="card-body">
                 <legend class="border-bottom mb-4"><h3>{{ legend }}</h3></legend>
          <form method="POST" action="">
             {{ form.hidden_tag() }}
             {{ form.csrf_token }}
             <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group">
                     <h4>{{ form.donor.label() }}</h4>
                {% if form.donor.errors %}
                    {{ form.donor(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.OrganOwner.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.donor(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <h4>{{ form.organ_name.label() }}</h4>
                {% if form.organ_name.errors %}
                    {{ form.organ_name(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.organ_name.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.organ_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
         </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                <h4>{{ form.age.label() }}</h4>
                {% if form.age.errors %}
                    {{ form.age(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.age.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                <h4>{{ form.height.label() }}</h4>
                {% if form.height.errors %}
                    {{ form.height(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.height.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.height(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>
        </div>
             
        <div class="row">
            <div class="col-sm-5">  
                <div class="form-group">
                <h4>{{ form.weight.label() }}</h4>
                {% if form.weight.errors %}
                    {{ form.height(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.weight.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.weight(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <h4>{{ form.blood_type.label() }}</h4>
                {% if form.blood_type.errors %}
                    {{ form.height(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.blood_type.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.blood_type(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-5">  
                <div class="form-group">
                <h4>{{ form.hla_group.label() }}</h4>
                {% if form.hla_group.errors %}
                    {{ form.hla_group(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.hla_group.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.hla_group(class="form-control form-control-lg", id="hla_group") }}
                {% endif %}
                </div>
            </div>
            <div class="col-sm-5"> 
              <div class="form-group" id="other">
                <h4>{{ form.other_hla_group.label() }}</h4>
                {% if form.other_hla_group.errors %}
                    {{ form.height(class="form-control form-control-lg is-invalid") }}
                        {% for error in form.other_hla_group.errors %}
                        <div class="alert alert-danger" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ error }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor %}
                {% else %}
                    {{ form.other_hla_group(class="form-control form-control-lg") }}
                {% endif %}
                </div>
            </div>
        </div>    
        <div class="row">

                <div class="col-sm-5"> 
                   {{ form.submit(class="btn btn-primary btn-round btn-lg btn-block") }}
                </div>
                <div class="col-sm-5">
                    <button class="btn btn-default btn-round btn-lg btn-block" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-info btn-round btn-lg btn-block" href="/account">Back</a>
                </div>  

        </div>    
            
             
           
                                   
          </form>
            </div>
        </div>
     </div>
    </div>
</div>
    <script>
      $(document).ready(function(){
         $("#other").hide();
        $("#hla_group").on("change", function(){
          if ( this.value == 'other')
          {
            $("#other").show();
          }
          else
          {
            $("#other").hide();
          }
        })
      });
    </script>
{% endblock content %}