{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
<div class="page-header clear-filter" filter-color="red">
      <div class="page-header-image" data-parallax="true" style="background-image:url('../static/assets/img/header.jpg');">
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                      <div class="alert alert-{{ category }}" role="alert">
                          <div class="container">
                            <div class="alert-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" 
                                class="bi bi-exclamation-circle" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 
                                1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905
                                 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                            </svg>
                            </div>
                            <strong>{{ message }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">
                               <i class="now-ui-icons">&times;</i>
                              </span>
                            </button>
                          </div>
                        </div>
                        {% endfor%}
                        {% endif %}
                      {% endwith %}
<div class="col-md-6 ml-auto col-md-7 mr-auto">
                <div class="input-group">
                    <input class="form-control" id="block-search" name="q" placeholder="Type anything to search" autocomplete="false" required>
                </div>
        </div>
    <div class="col-md-6 ml-auto col-md-7 mr-auto">

      <div class="container">
        <div class="block-table">
        <table class="table" style="table-layout: fixed; width: 100%" id="tablehome">
          <thead>
            <tr>
              <th>Donation ID</th>
              <th style="width:35%;">Donor Name</th>
              <th>Organ</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody id="tbodyhome"></tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up" id="modalTitle"></h4>
          </div>

          <div class="modal-body">
             <div class="col-md-10 offset-md-3">
              <table id="modalTable">
              
              </table>
            </div>
          </div>
          <div class="modal-footer" id="btnSection">
            
          </div>
        </div>
      </div>
    </div>
    <!--  End Modal -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
          <script>
            var data;
            if(data!=null)
              data = null;
            const tbodyEl = document.getElementById("tbodyhome");
          $(document).ready(function(){
                    data = [];
                    $.ajax({
                    type: "GET",
                    url: "{{ url_for('ManageDonation.load_donation') }}",
                    success: function(response){
                      data = response;
                      tbodyEl.innerHTML="";
                      console.log(data);
                      data.reverse();
                    for(var counter=0; counter<data.length; counter++){
                      var formatedDate = formatDate(data[counter].register_date);
                      tbodyEl.innerHTML += `

                          <tr class="home_table_row" data-toggle="modal" data-target="#myModal" onclick="to_record_details(${data[counter].id})">
                              <td>${data[counter].id}</td>
                              <td>${data[counter].donor}</td>
                              <td>${data[counter].organ_name}</td>
                              <td>${formatedDate}</td>
                          </tr>
                      `;
                      }

                    },
                    error: function(response){
                      console.log(response);
                    }
                  });
                });
          function formatDate(date){
                var datetime = new Date(date);
                dateStr = datetime.toLocaleDateString('en-GB', {
                                          day: 'numeric', month: 'short', year: 'numeric'
                                        }).replace(/ /g, '-');
                timeStr = datetime.toLocaleTimeString('en-US');
                return dateStr;
            }
            function formatTime(date){
               var datetime = new Date(date);
               timeStr = datetime.toLocaleTimeString('en-US');
               return timeStr;
            }
            $(document).ready(function(){
              $("#block-search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tbodyhome tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
            function to_record_details(index){         
                var printTable = document.getElementById("modalTable");
                var printTitle = document.getElementById("modalTitle");
                var printBtn = document.getElementById("btnSection");
                var record = find_donation_record(index);
                var date = formatDate(record.register_date);
                var time = formatTime(date);
                var status = check_donation_status(record);
                printTitle.innerHTML = "Donation Record ID: "+record.id;
                printTable.innerHTML = `
                <tr>
                     <td>Donor Name: </td>
                     <td> ${record.donor}</td>
                </tr>
                <tr>
                     <td>Donor Age: </td>
                     <td> ${record.age}</td>
                </tr>
                <tr>
                     <td>Organ: </td>
                     <td>${record.organ_name}</td>
                </tr>
                <tr>
                     <td>Blood Type: </td>
                     <td> ${record.blood_type}</td>
                </tr>
                <tr>
                     <td>Height: </td>
                     <td> ${record.height}</td>
                </tr>
                <tr> 
                     <td>Weight: </td>
                     <td> ${record.weight}</td>
                </tr>
                <tr>
                     <td>HLA Group: </td>
                     <td> ${record.hla_group}</td>
                </tr>
                <tr>
                     <td>Register Date: </td>
                     <td>${date}</td>
                </tr>
                <tr>
                     <td>Register Time: </td>
                     <td>${time}</td>
                </tr>
                <tr>
                     <td>Donation Status: </td>
                     <td>${status}</td>
                </tr>
                `;
            }

            function find_donation_record(index){
              for(var counter=0; counter<data.length; counter++){
                  if(data[counter].id==index){
                        var record = data[counter];
                        return record;
                  }
                }
            }
            function check_donation_status(record){
              var status="Pending";
                if(record.approval_status_1 == "Added" && record.approval_status_2 == "Added"
                   && record.approval_status_3 == "Added" ){
                  status="Added into Blockchain";
                }
                else if(record.approval_status_1 == "Approved" || record.approval_status_2 == "Approved"
                   || record.approval_status_3 == "Approved")
                {
                  status="Processing";
                }
                return status;
            }
       </script>
{% endblock content %}
