{% extends "layout.html" %}
{% block content %}
  {% if result != validated %}
      <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"></a>
            </div>
            <small class="text-muted"></small>
          </div>
        </article>
    {% else %}
      {% for i in chain %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('BlockRoute.block_details', block_id=i.index) }}">{{ i.index }}</a>
              </div>
              <small class="text-muted">{{ i.OrganName }}</small>
            </div>
          </article>
          
      {% endfor %}
    {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
          <script>
            $(document).ready(function(){
                  var current_ip = String(window.location.host);
                    $.ajax({
                    type: "POST",
                    url: "{{ url_for('BlockRoute.show_current_ip') }}",
                    contentType: "application/json",
                    data: JSON.stringify({'node': current_ip}),
                    dataType: "json",
                    success: function(response){
                      console.log(response);
                    },
                    error: function(response){
                      console.log(response);
                    }
                  });
                });
        </script>
{% endblock content %}
