{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="red">
          <div class="page-header-image" data-parallax="true" style="background-image:url('../static/assets/img/header.jpg');">
          </div>

          	<div class="col-md-3 ml-auto col-md-4 mr-auto">
                <div class="input-group">
                    <h3 style="background-color: white">Request For Transplantation</h3>
                </div>
            </div>
            <div class="col-md-6 ml-auto col-md-7 mr-auto">
	        <div class="container">
	          <div class="card">
	            <div class="card-body">
	              <div class="container bootstrap snippet">
	              </div>
	              <hr><br>  
    				<div class="row">  

    					<div class="col-md-6 ml-auto col-md-7 mr-auto">
					    <form class="form" action="/set_update_block" method="POST" id="registrationForm">
        					<input type="hidden" name="index" value="{{ block.index }}" />
        					<input type="hidden" name="donor" value="{{ block.donor }}" />
        					<input type="hidden" name="organ_name" value="{{ block.organ_name }}" />
        					<input type="hidden" name="age" value="{{ block.age }}" />
        					<input type="hidden" name="weight" value="{{ block.weight }}" />
        					<input type="hidden" name="height" value="{{ block.height }}" />
        					<input type="hidden" name="hla_group" value="{{ block.hla_group }}" />
        					<input type="hidden" name="blood_type" value="{{ block.blood_type }}" />
					          <div class="tab-content">
					            <div class="tab-pane active" id="home">
					                <div class="row">
					                	
					                	<table class="table">
					                		<tr>
					                			<td>Block Index: </td>
					                			<td>{{ block.index }}</td>
					                			<td>Donor: </td>
					                			<td>{{ block.donor }}</td>
					                		</tr>
					                		<tr>
					                			<td>Organ: </td>
					                			<td>{{ block.organ_name }}</td>
					                			<td>Age: </td>
					                			<td>{{ block.age }}</td>
					                		</tr>
					                		<tr>
					                			<td>Weight: </td>
					                			<td>{{ block.weight }}</td>
					                			<td>Height: </td>
					                			<td>{{ block.height }}</td>
					                		</tr>
					                		<tr>
					                			<td>HLA Group: </td>
					                			<td>{{ block.hla_group }}</td>
					                			<td>Blood Type: </td>
					                			<td>{{ block.blood_type }}</td>
					                		</tr>
					                		<tr>
					                			<td colspan="2">Applier Details</td>
					                			<td colspan="2"><input type="textarea" class="form-control" rows="4" cols="50" name="applier_details" required></td>
					                		</tr>
					                		<tr>
					                			<td colspan="4"><input type="submit" name="submit"></td>
					                		</tr>
					                	</table>
					                	</div>
					            	</div> 
					            </div>
					        </div>      
              			</form>
              		</div>
              			<hr>
  		           </div>
		         </div>
				</div>
              </div> 
            </div>
    </div>
</div>  

  


{% endblock content %}